body {
	background-color: #fff;
	_margin: 40px auto;
	font: 16px/24px normal Arial,sans-serif;
	color: #808080;
}

a {
	color: #dd4814;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
   color: #97310e;
}

h1 {
	color: #cef791;
	background-color: #4f6d23;
	border-bottom: 2px solid #344c11;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 2px 0;
	padding: 5px 10px;
	line-height: 40px;
}

h2 {
	color:#404040;
	margin:0;
	padding:0 0 10px 0;
}

h4 {
    margin-top: 0px;
}


p {
	 margin: 0 0 10px;
	 padding:0;
}

.row_edit_cell {
    display: inline-block;
}
.row_edited {
    background-color: red;
}

.head_display_cell {
    display: inline-block;
    background-color: #c3c3d8;
    color: #e0975c;
    font-weight: bold;
    height: 60px;
    vertical-align: bottom;
    display: table-cell;
}
.head_display_cell:hover {
    color: green;
    cursor: pointer;
}

.menubuttons {
    margin-bottom: 3px;
}

.menubuttons button {
    background-color: #f7e49e; 
    border: 1px solid #c6b39f; 
    color: #635d57; 
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    font-weight: bold;
}

/* Clear floats (clearfix hack) */
.menubuttons:after {
    content: "";
    clear: both;
    display: table;
}

.menubuttons .current {
    background-color: #efb377;
}

.menubuttons button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.menubuttons button:hover {
    background-color: #eddac7;
}


/* form things */
.form_line {
    margin-bottom: 4px;
}

label {
    color: #B4886B;
    font-weight: bold;
    width: 150px;
    display: inline-block;
}
label, textarea {
    vertical-align: top;
} 

label:after { content: ": " }

input {
    display: inline-block;
}


