/* The Map styles */
.map_cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 8px;
    font-size: 15px;
    text-align: bottom;
    vertical-align: top;
    border: 1px dotted #eeeeee;
}
.ocean {
    background-color: #70a6ff;
}
.continent_6 {
    background-color: #f9b05c; 
}
.continent_2 {
    background-color: #f3a8ff; 
}
.continent_3 {
    background-color: #5dd37c; 
}
.continent_1 {
    background-color: #b1e575; 
}
.continent_5 {
    background-color: #edbe78; 
}
.continent_7 {
    background-color: #ffb5ea; 
}
.terr_button {
    cursor:pointer;
}

.the_form {
    display: block;
    position: fixed;
    left: 30px;
    top: 100px;
    z-index: 20;
    width: 400px;
    height:150px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}
.the_line {
    margin-bottom: 4px;
    height: 20%;
}

#map_border {
    width: 1200px;
    margin-top: 7px;
    border: 1px solid green;
}

.army_plus_button {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    color: blue;
}
.army_minus_button {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    color: red;
}